/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
}

body {
    min-height: 100vh;
    
    align-items: center;
    justify-content: center;
    background-color: #EFEFEF;
}

.swiper_bar {

}

.slide_container {
    max-width: 1120px;
    width: 100%;
    padding: 40px;
}

.slide_content {
    padding: 45px 20px; 
    margin: 0 40px;
}

.card {
    border-radius: 25px;
    background-color: #FFF;
}

.image_content,
.card_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image_content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #342404;
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -41px;
    height: 41px;
    width: 40px;
    background-color: #342404;
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #FFF;
}

.card_image{
    position: relative;
    height: 150px;
    width: 150px;
    background: #FFF;
    border-radius: 50%;
    padding: 1px
}

.card_image .card_image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #342404;
}

.swiper_navBtn {
    color: #E3C567;
    transition: color 0.3s ease;
}
.swiper_navBtn:hover {
    color: #C8963E
}

.swiper_navBtn::before,
.swiper_navBtn::after {
   font-size 40px; 
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: #E3C567;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #C8963E;
}